<form class="login-form">
    <h2>Login</h2>
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login"/>
    </div>
    <div>
        <label for="pw-login">Password: </label>
        <input type="password" id="pw-login"/>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<form class="signup-form">
    <h2>Create Account</h2>
    <div>
        <label for="create-username">Username:</label>
        <input type="text" id="create-username"/>
    </div>
    <div>
        <label for="create-email">Email:</label>
        <input type="text" id="create-email"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="create-pw"/>
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>

<script src="/public/js/login.js"></script>